@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Basic Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #000000; 
    color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.img-head{
    background-image: url(/images/hero-img.jpg);
}
/* Header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #000000b9; 
}

#header h1 {
    font-size: 2em;
    cursor: pointer;
}

#header img {
    fill: white;
    padding-right: 15px;   
}

#header a, img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hero Section */
.hero-section {
    padding: 100px 50px;
    text-align: center; 
    height: 25em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 2s ease-in-out;
}

.hero-text {
    font-size: 3.5em;
    margin-bottom: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Buttons */
button {
    padding: 10px 15px;
    font-size: 1em;
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    transition: 0.5s;
}

button:hover {
    transform: translate(-3px, -3px);
    box-shadow: 10px 10px 0px 0px rgb(90, 90, 90);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a {
    text-decoration: none;
    color: #ffffff; 
}
.btns button{
    margin: 10px;
}

/* About Section */
.about {
    padding: 50px 150px; 
    text-align: justify; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.about h2 {
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about p, .about ol, .about ul {
    font-size: 1.2em; 
    line-height: 1.6; 
}

.about a {
    color: rgb(106, 106, 145); 
    text-decoration: none;
}

.about a:hover {
    text-decoration: underline;
}

.left {
    flex: 2;
    padding: 20px;
}

.right {
    flex: 1;
    padding: 20px;
}

/* Contributors Section */
.contri {
    padding: 50px 150px;
    text-align: center;
    background-color: #181818; 
}

.contri h2 {
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.326);
    margin: 20px;
    overflow: hidden;
    width: 300px;
    color: #333; 
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.card .content {
    padding: 20px;
}

.card h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.2em;
    color: #555;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    font-size: 1em;
    color: #555; 
    transition: color 0.3s ease; 
}

.social-icons a:hover {
    color: #007bff; 
}

.social-icons img {
    width: 25px;
    height: 25px;
}

/* Footer */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0; 
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media Queries */
@media (max-width: 1200px) {
    .hero-section {
        padding: 100px 50px;
    }

    .hero-text {
        font-size: 2.5em;
    }

    .about {
        padding: 50px 100px;
    }

    .contri {
        padding: 50px 100px;
    }
}

@media (max-width: 768px) {
    .hero-section {
        padding: 80px 30px;
        height: 20em;
    }

    .hero-text {
        font-size: 2em;
    }

    .about {
        padding: 50px 50px;
    }

    .contri {
        padding: 50px 50px;
    }

    .container {
        flex-direction: column;
    }
    .right iframe{
        width: auto;
        height: auto;
    }
}


@media (max-width: 480px) {
    #header {
        padding: 10px 20px;
    }

    .hero-section {
        padding: 60px 20px;
        height: 15em;
    }

    .hero-text {
        font-size: 1.5em;
    }

    .about {
        padding: 20px 20px;
        flex-direction: column;
    }

    .contri {
        padding: 20px 20px;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }
    .right iframe{
        width: auto;
        height: auto;
    }
}
